.graph{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: azure;
}

.space{
    height: 10vh;
    width: 100%;
    background-color: white;
}