.cover{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.abrief{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.abrief .left{
    flex: 1;
    background-image: url(../images/mast.gif);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.abrief .left-static{
    flex: 1;
    background-image: url(../images/mast_static.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.abrief .center{
    flex: 1;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40vh;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
  
}

.abrief .right{
    flex: 1;
    background-image: url(../images/mast_2.gif);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.abrief .right-static{
    flex: 1;
    background-image: url(../images/mast_2_static.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container{              
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    width: 100%;
    margin-top: 0;
}

.params{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.params p{
    color: #333;
    margin: 10px auto;
    width: 300px;
    background: rgb(243, 240, 240);
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px 0;
    font-family: monospace;
    font-size: 17px;
}
.count{
    color: #fff; 
    width: 150px;
    height: 70px;
    background: #333;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.btn-cover{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around   ;
    align-items: center;
    margin-bottom: 20vh;
    margin: 20px 0;
}

#btn-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}

.button-71 {
    background-color: #26292b;
    color: #fff;
    padding: 15px 25px;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 30px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}


@media (min-width: 768px) {
    .button-71 {
        padding: 16px 48px;
    }
} 



.button-91 {
    color: #fff;
    padding: 15px 25px;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 30px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}



.button-90 {
    color: #fff;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: #4C43CD;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 30px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}


#btn {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    background: #333;
    text-transform: capitalize;
    padding: 10px 20px;
    border: none;
    letter-spacing: 5px;
    font-family: monospace;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0.0.0 0.3);
    transition: 0.5s;
}

#btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    background: rgb(3, 139, 230);
}

#btn:disabled{
    border: 1px solid #fff;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
}

.bttn{
    font-size: 1rem;
    text-decoration: none;
    color: white;
    background: #333;
    text-transform: capitalize;
    padding: 7px 10px;
    border: none;
    letter-spacing: 2px;
    font-family: monospace;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0.0.0 0.3);
    transition: 0.5s;
}

.disabled{
    border: 1px solid #fff;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
}